.hl {
    background-color:#DEE7EC;
}

table.confmanager {
/*    width:100%;*/
}

table.confmanager td {
    padding-left:5px;
    padding-right:5px;
}

input.key {
    width:100px;
}

input.val {
    width:600px;
}

.default_value {
	color:#777;
}

#confmanager .defaultValue {
	color: gray;
}

table.confmanager {
    overflow: hidden;
}

.dokuwiki #confmanager div.table {
    overflow-x: visible;
}

#confmanager div.table td div {
    overflow: auto;
    width: 300px;
}

#confmanager .heading_appendix {
	font-size: small;
	font-weight: normal;
}

#confmanager .level1 {
	background-color: #eee;
	padding: 1em;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	border-radius: 15px;
	margin-bottom: 2em;
}